<h1>All items</h1>

<%= button_to "Drinks", "/items/drinks", method: :get %>
<%= button_to "Starter", "/items/starter", method: :get  %>
<%= button_to "Mains", "/items/mains", method: :get  %>
<%= button_to "Desserts", "/items/desserts", method: :get  %>
<%= button_to "Sides", "/items/sides", method: :get  %>

<div id='output'>

</div>