
  <strong><%= @items.first.category %></strong>

  <% @items.each do |item| %>

			  <p><%= item.name %></p>
		    <p><%= item.price %></p>
		    <p><%= image_tag (item.picture) %></p>
		    <%= form_with scope: :cart,  :url => add_cart_path, local: true  do |f| %>
		    	<%= f.hidden_field :table_id, :value => 2 %>
		    	<%= f.hidden_field :item_id, :value => item.id %>
			    <p><%= f.number_field :item_quantity, min: 0, max: 10 %>
			    <%= f.submit "Submit" %>
				<% end %>
  <% end %>

  <%# button_to "Send to Kitchen", "/order/new", method: :post %>


<%= link_to 'Back', root_path %>