<h1>Table ID: <%= @table.id %></h1>
<% @table.orders.each do |order| %>
  <p>Order ID: <%= order.id %></p>
  <% order.items.each do |item| %>
    <p>Item Name: <%= item.name %></p>
    <p>Item Price: $<%= item.price %></p>
  <% end %>
<% end %>

<% if @table.active_status %>
<h1 style="color:red">Table is taken!</h1>
<%= button_to 'Settle Table',release_path(@table), method: :get %>
<% else %>
<h1 style="color:red">Table is available!</h1>
<%= button_to 'Assign Table',assign_path(@table), method: :get %>
<%= button_to 'Delete Table' ,deletetable_path(@table), method: :delete %>
<% end %>
