<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<nav class="navbar navbar-dark bg-dark justify-content-between flex-nowrap flex-row">
		    <div class="container">
		        <a href="/" class="navbar-brand float-left">Res Logo</a>
            <% if staff_signed_in? %>
		        <a href='/kitchen'>Kitchen Orders</a>
		        <a href='/table'>Table</a>
		        <a href="/reports">Reports</a>
            <% end %>
		        <ul class="nav navbar-nav flex-row float-right">
		        	<% if staff_session %>
								<li class="staff-name"><%= current_staff.email %></li>
								<li><%= button_to "Logout", destroy_staff_session_path, method: :delete, :class => "btn btn-primary btn-sm"%></li>
							<% else %>
		            <li class="nav-item"><a class="btn btn-primary btn-sm" href=<%= new_staff_session_path%>>Staff Login</a></li>
		          <% end %>
		        </ul>
		    </div>
		</nav>


    <%= yield %>

  </body>
</html>
