<table class="table table-striped">
	<thead>
  <tr>
  	<th scope="col">Item</th>
    <th scope="col">Qty</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>

  <% @carts.each do |cart| %>
    <tr>
    	  <td scope="row"><%= cart.item.name %></td>
        <td><%= cart.item_quantity %></td>
        <td><%= cart.item.price * cart.item_quantity %></td>
        <td><%= link_to 'Delete Item', delete_cart_path(cart),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class:"btn btn-warning" %></td>
    </tr>
  <% end %>
</tbody>
</table>



<%= form_with scope: :order, url: submit_path, local: true do |form| %>
  <p>
    <%= form.label :table_id %><br>
    <%= form.hidden_field :table_id, :value => session[:table] %>
  </p>
  <p>
    <% @carts.each do |cart| %>
    <%= form.hidden_field :item_ids,:multiple => true, :value => cart.item.id %>
    <%= form.hidden_field :item_quantities,:multiple => true, :value => cart.item_quantity %>
    <% end %>

  </p>
  <p>
    <%= form.submit "Submit order", class:"btn btn-outline-success" %>
  </p>
<% end %>

<%= link_to 'Back', items_path, class:"btn btn-secondary" %>