<h1>All Orders for Table <%= @table.id %></h1>
<% tablesubtotal = 0 %>
<% gst = 0 %>
<% tabletotal = 0 %>

<table class="table table-striped">
	<thead>
  <tr>
  	<th scope="col">Item</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Subtotal</th>
  </tr>
</thead>
<tbody>
	<% @table.orders.each do |order| %>
				<% order.items.each do |item| %>
					  	<tr>
					    <td scope="row"><%= item.name %></td>
					    <td>$<%= item.price %></td>
					    <% @purchases.where(order_id: order.id, item_id: item.id).each do |x| %>
					     <td> <%= x.item_quantity %></td>
					     <td>$<%= item.price * x.item_quantity %></td>
					     <% tablesubtotal += item.price * x.item_quantity %>
					     <% end %>
					   </tr>
				<% end %>
	<% end %>

	<hr />
	<tr>
	  <td scope="row"><b>Subtotal for this table:</b> </td>
	  	<td></td>
	  	<td></td>
	  <td><b>$<%= '%.2f' % tablesubtotal %></b></td>
	  </tr>
	  <tr>
	  	<td><% gst = tablesubtotal * 0.07 %>
			<b>GST:</b></td>
			<td></td>
			<td></td>
			<td><b>$<%= '%.2f' % gst %></b></td>
		</tr>
		<tr>
			<td><% tabletotal = tablesubtotal + gst %>
			<h5><b>Total for this table:</b></h5></td>
			<td></td>
			<td></td>
			<td><h5><b> $<%= '%.2f' % tabletotal %></b></h5></td>

	</tr>
	</tbody>
</table>


<%= link_to 'Back', items_path, class:"btn btn-secondary" %>