<% grandtotal = 0 %>
<% @sales.each do |sale| %>
	<% sum = 0 %>
	<% @orders.where(sales_id: sale.id).each do |order| %>
		<% order.items.each do |item| %>
		<% sum += item.price * @purchases.find_by(order_id: order.id, item_id: item.id).item_quantity%>
		<% end %>
	<% end %>
	<% grandtotal += sum %>
<% end %>


<div class="container">

	<div class="row">
		<div class="col-12">
			<h2>Total Daily Sales: $<%= '%.2f' % grandtotal %></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h5><%= @date.strftime("%d %b %Y") %></h5>
			<table class="table">
  			<thead class="thead-dark">
					<tr>
						<th>Transaction ID</th>
						<th>Bill Amount</th>
						<th>Transaction Date</th>
						<th>Transaction Time</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>

					<% @sales.each do |sale| %>
					<tr>
						<td><%= sale.id %></td>
						<td>
							<% sum = 0 %>
							<% @orders.where(sales_id: sale.id).each do |order| %>
								<% order.items.each do |item| %>
									<% sum += item.price * @purchases.find_by(order_id: order.id, item_id: item.id).item_quantity%>
								<% end %>
							<% end %>
							$<%= '%.2f' % sum %>

						</td>
						<td><%= sale.created_at.strftime("%d %b '%y") %></td>
						<td><%= sale.created_at.strftime("%I:%M %p") %></td>
						<td><a class="btn btn-sm btn-primary" href=<%=sale_path(sale)%>>View</a></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<a class="btn btn-secondary btn-sm" href=<%=root_path%>>Back to Main</a>
		</div>
	</div>

</div>