<h1> Order Chits </h1>


<% @orders.each do |order| %>
	<h1>Order ID: <%= order.id %></h1>
	<h2>Table ID: <%= order.table_id %></h2>
	<% order.items.each do |item| %>
		<p><%= item.name %></p>
		<a><%= link_to 'Delete Item', order_item_delete_path(order, item),
				        method: :delete,
				        data: { confirm: 'Are you sure?' } %></a>
	<% end %>

	<a><%= link_to 'Delete Order', order_path(order),
				        method: :delete,
				        data: { confirm: 'Are you sure?' } %></a>
<% end %>