<div class="container">

	<div class="row">
		<div class="col-12 text-center">
			<h2>Transaction ID: <%= @sale.id %></h2>
			<h5><%= @sale.created_at %></h5>

			<table class="table">
  			<thead class="thead-dark">
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Sub-Total</th>
					</tr>
				</thead>

				<tbody>
				<% @orders.each do |order| %>
					<% order.items.each do |item| %>
					<tr>	
						<td><%= item.name  %></td>
						<td><%= @purchases.find_by(order_id: order.id, item_id: item.id).item_quantity  %></td>
						<td><%= item.price %></td>
						<td><%= item.price * @purchases.find_by(order_id: order.id, item_id: item.id).item_quantity %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>

			<h2>Bill Amount:
				<%= @sum %>
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<a class="btn btn-primary btn-lg" href=<%=root_path%>>Back to main</a>
		</div>
	</div>

</div>
